@media (min-width: 320px) and (max-width: 767px) {
  body {
    background-color: red;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  body {
    background-color: green;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  body {
    background-color: black;
  }
}

@media (min-width: 1440px) {
  body {
    background-color: gold;
  }
}
