@import 'config/mixins.scss';

@include full-desktop {
    .wj-top{
        &-info{
            background-color: black;    
            &__header{
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
                padding: 5px 0;
                width: $desktop-space;
                margin: 0 auto;
            }
            &__link{
                text-decoration: underline;
                color: $primary-color;
            }
            &__text{
                margin: 0 5px;
                color: $primary-color;
            }
        }

        &-options{
            width: $desktop-space;
            margin: 20px auto;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            &__logo{}
            &__search{
                display: flex;
                flex-direction: row;
            }
            &__input{
                padding: 8px; 
            }
            &__button{
                background-color: red;
                border: none;
                padding: 10px 20px;
                text-transform: uppercase;
                font-weight: bold;
                letter-spacing: 0px;
                cursor: pointer;
                color: $primary-color;
            }

            &-mobile-menu{
                display: none;
            }
    
            &-mobile{
                &__search{
                    display: none;
                }
            }
        }


    }

    .wj-nav-menu{
        display: flex;
        flex-direction: row;
        background-color: #f00;
        height: 40px;

        &__group{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            width: $desktop-space;
            margin: 0 auto;
            list-style-type: none;
            color: $primary-color;
            &-sub{
                list-style-type: inherit;
                display: flex;
                flex-direction: row;
            }
        }
        &__item{
            margin-right: 100px;
            cursor: pointer; 
            text-transform: uppercase;
            &-sub{
                margin-right: 100px;
                cursor: pointer;
                text-transform: uppercase;
            }
        }
    }

    .wj-breadcrumb{
        width: $desktop-space;
        margin: 30px auto;
        &__initial{
            color: #000;
        }

        &__delimiter{
            color: $third-color;
        }

        &__actual{
            color: $second-color;
        }
    }

    .wj-section{
        &-category{
            display: flex;
            flex-direction: row;
            width: $desktop-space;;
            margin: 0 auto;

            &__filter{
                width: 20%;
                padding: 20px;
                margin-right: 20px;
                border: solid 1px $border-color;
                height: 100%;

                &-text{
                    color: $second-color;
                    text-transform: uppercase;
                    font-weight: 800;
                    margin-bottom: 20px;
                }

                &-categories{
                    margin-bottom: 20px;
                    &-title{
                        text-transform: uppercase;
                        color: $forth-color;
                        font-weight: 800;
                        margin-bottom: 15px;
                    }
                    &-option{
                        list-style-type: disc;
                        cursor: pointer;
                        color: rgb(99,99,99);
                        margin-left: 20px;
                    }
                }

                &-dynamic{
                    &-item-img{
                        cursor: pointer;
                        margin-right: 5px;
                        list-style-type: none;
                    }

                    &-group{
                        list-style-type: disc;
                        cursor: pointer;
                        color: #636363;
                        margin-left: 20px;

                        &.img-element{
                            display: flex;
                            flex-direction: row;
                            flex-wrap: wrap;
                            margin: 0;
                        }
                    }

                    &-title{
                        text-transform: uppercase;
                        color: #80bdb8;
                        font-weight: 800;
                        margin-bottom: 15px;
                    }
                }

                &-product{
                    &-title{
                        font-size: 35px;
                        color: $second-color;
                    }
                    &-line{

                    }
                    &-grid{
                        display: flex;
                        flex-direction: row;
                        align-items: flex-start;
                        width: 20%;

                        &-first{
                            margin-right: 10px;
                            cursor: pointer;
                        }

                        &-option{
                            margin-right: 10px;
                            cursor: pointer;
                        }
                    }
                    &-sort{
                        width: 80%;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: flex-end;
                        color: #616161;
                        font-weight: 800;
                    }
                    &-text{
                        color: #616161;
                        font-weight: normal;
                        margin-right: 15px;
                    }
                    &-element{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                        padding: 10px 0;;
                    }

                }
            }
            &__details{
                width: 80%;
            }
            &__products{
                display: flex;
                flex-wrap: wrap;
                align-items: flex-start;

                &.gridOption{
                    flex-direction: row;
                }
                &.rowOption{
                    flex-direction: column;

                    .wj-section-category__products-items{
                        flex-direction: row;
                        width: 100%;

                        .wj-section-category__products-name{
                            margin-left: 30px;
                            text-align: center;
                        }
                        .wj-section-category__products-offer{
                            flex-direction: column;
                        }
                    }
                }
                
                &-items{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    cursor: pointer;
                    margin: 25px;
                }

                &-image{
                    border: solid 2px $border-color;
                }
                &-buy{
                    width: 100%;
                    text-align: center;
                    padding: 10px 0;
                    border-radius: 5px;
                    background-color: #8CC7CA;
                    text-transform: uppercase;
                    font-weight: 800;
                    color: #fff;
                }
                &-price{
                    color: $second-color;
                    font-size: 20px;
                    font-weight: 800;

                    &.wj-total-price{
                        font-size: 15px;
                        color: $third-color;
                        text-decoration: line-through;
                    }
                }

                &-offer{
                    display: flex;
                    flex-direction: row-reverse;
                    align-items: center;
                    justify-content: space-around;
                    width: 100%;
                }
            }
        }
    }

    .wj-footer{
        background-color: $second-color;
        height: auto;
        min-height: 150px;
        margin-top: 50px;
    }
}
